<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vacation Waterer</title>

    <style>
        html {
            font-family: Arial;
            display: inline-block;
            text-align: center;
        }

        h2 {
            font-size: 3.0rem;
        }

        p {
            font-size: 3.0rem;
        }

        body {
            max-width: 1200px;
            margin: 0px auto;
            padding-bottom: 25px;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 120px;
            height: 68px
        }

        .switch input {
            display: none
        }

        .slider {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            border-radius: 34px
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 52px;
            width: 52px;
            left: 8px;
            bottom: 8px;
            background-color: #fff;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 68px
        }

        input:checked + .slider {
            background-color: #2196F3
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(52px);
            -ms-transform: translateX(52px);
            transform: translateX(52px)
        }

        .system-container {
            border: 1px black;
        }
    </style>

    <script type="text/javascript"
            src="{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='app.js') }}"></script>

    <script type="text/javascript"
            src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
          crossorigin="anonymous">

    {#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"#}
    {#            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"#}
    {#            crossorigin="anonymous"></script>#}


</head>
<body>
<div class="container">
    <h1 id="site-title">Vacation Waterer</h1>

    <div class="system-container">
        <h2 class="system-title">System 1</h2>

        <button id="btn-poll-sysinfo" class="btn btn-primary mb-2">
            Update System Info
        </button>

        <div id="pot-1" class="mb-1">
            <h3>Pot 1</h3>


            {# =========== manual watering ===================#}
            <form class="form-inline manual-water">
                <input type="hidden" class="system-id" value="0"> {# TODO system id should be outer #}
                <input type="hidden" class="pot-id" value="0">


                <div class="form-group d-flex justify-content-around">
                    <input type="number" step="1" class="form-control  mb-2 water-amount" id="water-amount-1"
                           placeholder="10">
                    <label for="water-amount-1">(milli liters)</label>
                </div>

                <button type="submit" class="btn btn-primary mb-2">Water now</button>
            </form>
            {# =========== Moisture threshold watering ===================#}
            <form class="form-inline set-threshold mt-2" style="margin-top: 8px;">
                <input type="hidden" class="system-id" value="0"> {# TODO system id should be outer #}
                <input type="hidden" class="pot-id" value="0">


                <div class="form-group d-flex justify-content-around">
                    <input type="number" step="1" class="form-control  mb-2 input-theshold" id="threshold-pot-1"
                           placeholder="25">
                    <label for="threshold-pot-1">(% moisture)</label>
                </div>

                <button type="submit" class="btn btn-primary mb-2">Set moisture threshold</button>
            </form>

            {# =========== current moisture ===================#}
            <div class="d-flex justify-content-around">
                <span>
{#                    <label for="current-moisture-1">Current moisture: </label>#}
{#                    <label class="add-moisture"> xx </label>#}
{#                    <button id="current-moisture-1" data-potid="0" class="btn-get-moisture btn btn-primary mb-2">Get Moisture Level#}
{#                    </button>#}
                    <p class="current-moisture">Current moisture: xx</p>
                    <p class="moisture-threshold">Moisture threshold: xx</p>
                </span>
            </div>


            {# =========== Cooldown period  ===================#}

        </div>

        {#        ======== pot 2 goes here =============              #}
        <div id="pot-2">

            <h3>Pot 2</h3>


            {# =========== manual watering ===================#}
            <form class="form-inline manual-water">
                <input type="hidden" class="system-id" value="0"> {# TODO system id should be outer #}
                <input type="hidden" class="pot-id" value="1">


                <div class="form-group d-flex justify-content-around">
                    <input type="number" step="1" class="form-control  mb-2 water-amount" id="water-amount-2"
                           placeholder="10">
                    <label for="water-amount-2">(milli liters)</label>
                </div>

                <button type="submit" class="btn btn-primary mb-2">Water now</button>
            </form>
            {# =========== Moisture threshold watering ===================#}
            <form class="form-inline set-threshold mt-2" style="margin-top: 8px;">
                <input type="hidden" class="system-id" value="0"> {# TODO system id should be outer #}
                <input type="hidden" class="pot-id" value="1">


                <div class="form-group d-flex justify-content-around">
                    <input type="number" step="1" class="form-control  mb-2 input-theshold" id="threshold-pot-2"
                           placeholder="25">
                    <label for="threshold-pot-2">(% moisture)</label>
                </div>

                <button type="submit" class="btn btn-primary mb-2">Set moisture threshold</button>
            </form>

            {# =========== current moisture ===================#}
            <div class="d-flex justify-content-around">
                <span>
{#                    <label for="current-moisture-1">Current moisture: </label>#}
{#                    <label class="add-moisture"> xx </label>#}
{#                    <button id="current-moisture-1" data-potid="0" class="btn-get-moisture btn btn-primary mb-2">Get Moisture Level#}
{#                    </button>#}
                    <p class="current-moisture">Current moisture: xx</p>
                    <p class="moisture-threshold">Moisture threshold: xx</p>

                </span>
            </div>


            {# =========== Cooldown period  ===================#}

        </div>


        <div id="plotly-system-1-div">

        </div>
    </div>


</div>

</body>
</html>